# Discord Envs https://discord.dev/
DIS_WEBHOOK_ERROR=
DIS_REDIRECT=
DIS_SECRET= 
DIS_ID=
DIS_BOT_TOKEN=

# ------------------
JWT_SECRET=
FRONTEND_URL=
FRONTEND_TOKEN_COOKIE=

# Prisma Database URL
DATABASE_URL=